#  Welcome to Pandas Tutorial

In [211]:
import numpy as np
import pandas as pd

In [212]:
dict1 =  {
    "name":['harry','rohan','skillf'],
    "marks": [51,42,32],
    "city":['rampur','kolkata','brailly'] 
}

In [213]:
df= pd.DataFrame(dict1)  #making dataframe from dictionary

In [214]:
df.to_csv("frdns.csv",index=False) #writing to csv

In [215]:
df.head(2)

    name  marks     city
0  harry     51   rampur
1  rohan     42  kolkata

In [216]:
df.tail(1)

     name  marks     city
2  skillf     32  brailly

In [217]:
df.describe() #describe all statistics data

           marks
count   3.000000
mean   41.666667
std     9.504385
min    32.000000
25%    37.000000
50%    42.000000
75%    46.500000
max    51.000000

In [218]:
file = pd.read_csv('frdns.csv')
file

     name  marks     city
0   harry     51   rampur
1   rohan     42  kolkata
2  skillf     32  brailly

In [219]:
file['marks'][0] = 120
file

C:\Users\Administrator\AppData\Local\Temp\ipykernel_20612\1569864261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file['marks'][0] = 120

     name  marks     city
0   harry    120   rampur
1   rohan     42  kolkata
2  skillf     32  brailly

In [220]:
file.index = ['1st','2nd','3rd']
file

       name  marks     city
1st   harry    120   rampur
2nd   rohan     42  kolkata
3rd  skillf     32  brailly

In [221]:
ser = pd.Series(np.arange(27,55,2))  # making a series
ser.head(3)

0    27
1    29
2    31
dtype: int32

### adding series together

In [222]:

ser1 = pd.Series(np.arange(27, 55, 2))
ser2 = pd.Series(np.arange(100, 128, 2))
dataframe = pd.DataFrame({'Column1': ser1, 'Column2': ser2})
dataframe # adding multiple series to make a dataset

    Column1  Column2
0        27      100
1        29      102
2        31      104
3        33      106
4        35      108
5        37      110
6        39      112
7        41      114
8        43      116
9        45      118
10       47      120
11       49      122
12       51      124
13       53      126

### adding new series in dataframe

In [223]:
data = {
    'Column1': [1, 2, 3],
    'Column2': [4, 5, 6]
}
dataframe = pd.DataFrame(data)

new_series = pd.Series([7, 8, 9])

dataframe['NewColumn'] = new_series
dataframe

   Column1  Column2  NewColumn
0        1        4          7
1        2        5          8
2        3        6          9

#### using pd.concat

In [224]:
data = {
    'Column1': [1, 2, 3],
    'Column2': [4, 5, 6]
}
df = pd.DataFrame(data)

new_series = pd.Series([7, 8, 9])

dataframe = pd.concat([df, new_series], axis=1)

dataframe.columns = ['Column1', 'Column2', 'NewColumn']
dataframe

   Column1  Column2  NewColumn
0        1        4          7
1        2        5          8
2        3        6          9

## Working on NYC_weather csv

In [225]:
df = pd.read_csv(r'nyc_weather.csv')
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

##### what is the max temperature ?

In [226]:
df['Temperature'].max()

50

##### which days it rains ?

In [227]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

##### what is avg wind speed ?

In [228]:
df['WindSpeedMPH'].mean() 
# something is wrong...because of N/A values in 'WindSpeedMPH'

6.892857142857143

##### data cleaning...

In [229]:
df.fillna(0,inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

In [230]:
# selected rows selected colms
df.loc[0:2, ['EST', 'Temperature']]

        EST  Temperature
0  1/1/2016           38
1  1/2/2016           36
2  1/3/2016           40

In [231]:
df.describe().loc['count'] # geting only count from describe

Temperature             31.0
DewPoint                31.0
Humidity                31.0
Sea Level PressureIn    31.0
VisibilityMiles         31.0
WindSpeedMPH            31.0
CloudCover              31.0
WindDirDegrees          31.0
Name: count, dtype: float64

In [232]:
df[df.Temperature >= 40]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [233]:
df[['EST','Temperature']][df.Temperature == df.Temperature.max()] #getting all max temps

         EST  Temperature
9  1/10/2016           50

In [234]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [235]:
# change index
df.rename(columns={'EST': 'days'}, inplace=True)
df.set_index('days',inplace=True)
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
days,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [236]:
df.loc['1/13/2016']

Temperature                26
DewPoint                    4
Humidity                   42
Sea Level PressureIn    29.94
VisibilityMiles            10
WindSpeedMPH             10.0
PrecipitationIn             0
CloudCover                  0
Events                      0
WindDirDegrees            284
Name: 1/13/2016, dtype: object

In [237]:
df.reset_index(inplace=True)
df

,days,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [238]:
df.set_index('Events',inplace=True)

In [239]:
df.loc['Rain']

,days,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,WindDirDegrees
Events,,,,,,,,,,
Rain,1/9/2016,44,38,77,30.16,9,8.0,T,8,76
Rain,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,109
Rain,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,340
Rain,1/27/2016,41,22,45,30.03,10,7.0,T,3,311

In [240]:
df.reset_index(inplace=True)
df.head()

,Events,days,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,WindDirDegrees
0,0,1/1/2016,38,23,52,30.03,10,8.0,0,5,281
1,0,1/2/2016,36,18,46,30.02,10,7.0,0,3,275
2,0,1/3/2016,40,21,47,29.86,10,8.0,0,1,277
3,0,1/4/2016,25,9,44,30.05,10,9.0,0,3,345
4,0,1/5/2016,20,-3,41,30.57,10,5.0,0,0,333